<a href="https://colab.research.google.com/github/Existanze54/sirius-machine-learning-2024/blob/main/Exam/Union.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Основные алгоритмы ML

## Задачи на зачет

### Задача 1. Прогнозирование метеорологических наблюдений

Имеется датасет `weatherAUS.csv`, содержащий данные ежедневных метеорологических наблюдений из Австралии.

Колонка `RainTomorrow` содержит значения целевой переменной для прогнозирования. Значение `Yes` в этой колонке означает, что на следующий день шел дождь.

In [ ]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

Но перед построением модели сперва **необходимо подготовить датасет**:
1. Удалите из датасета те строки, для которых не определено значение `RainTomorrow`.
2. Замените значения в колонках `RainToday` и `RainTomorrow` с текстовых "Yes"/"No" на числовые 1/0.
3. Оставьте в датасете только количественные признаки (пригодится метод датафреймов `DataFrame.select_dtypes`)
4. Заполните недостающие значения признаков, например, их медианным значением (`DataFrame.select_dtypes`)
5. В качестве множества меток `Y` возьмите колонку `RainTomorrow`, а в качестве множества признаковых описаний объектов `X` - остальные колонки преобразованного датасета.

In [ ]:
# your code with dataset preprocessing here

После подготовки должно получиться что-то вроде:

In [ ]:
X.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,13.4,22.9,0.6,4.8,8.5,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,0.0
1,7.4,25.1,0.0,4.8,8.5,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3,0.0
2,12.9,25.7,0.0,4.8,8.5,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,0.0
3,9.2,28.0,0.0,4.8,8.5,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,0.0
4,17.5,32.3,1.0,4.8,8.5,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0.0

In [ ]:
Y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: RainTomorrow, dtype: float64

**Разбейте X и y на тренировочную и тестовую выборки**.

In [ ]:
# your code here

В рамках задачи нужно **построить модели** `логистической регрессии`, отдельного `решающего дерева` и `случайного леса` которые будут по `количественным признакам` (имеют численное значение) предсказывать, пойдет ли на следующий день дождь.

In [ ]:
# your code here

В качестве оценок построенных моделей **рассчитайте стандартные метрики качества** бинарной классификации: `accuracy`, `precision`, `recall` и `f1-score`.

Для получения более стабильной оценки качества проведите кросс-валидацию на полной обучающей выборке. Количество разбиений выберите на ваш вкус. Усредните значение метрик по всем прогонам кросс-валидации.

In [ ]:
# your code here

В качестве оценок построенных моделей **рассчитайте стандартные метрики качества** бинарной классификации: `accuracy`, `precision` и `recall`.

**Сравните метрики** качества для разных моделей. Также не забудьте сравните их с **бейзлайном** (бейзлайн оцените самостоятельно по имеющимся данным).

In [ ]:
# your code here

Попробуйте использовать **разные значения гиперпараметров**, добейтесь улучшения результата.

In [ ]:
# your code here

### Задача 2. Классификация на основе данных сниженной размерности

В этой задаче предлагается сравнить качество двуклассовой классификации на всех признаках и на главных компонентах.

В качестве данных используйте датасет с семинара с транскриптомными данными после корректировки батч-эффекта.

**Загрузите датасет** (`gse53625_expression_corrected.csv`) и метаданные к нему (`gse53625_metadata.csv`).

In [ ]:
!wget https://data.bioml.ru/htdocs/courses/bioml/classic_ml/unsupervised/dim_reduction/data/gse53625_expression_corrected.csv -O ./data/gse53625_expression_corrected.csv

!wget https://data.bioml.ru/htdocs/courses/bioml/classic_ml/unsupervised/dim_reduction/data/gse53625.tar.gz -O gse53625.tar.gz
!tar xvzf gse53625.tar.gz

**Разбейте X и y на тренировочную и тестовую выборки**. Соотношение train/test поставьте равным 1:1.

In [ ]:
# your code here

**Составьте пайплайн из стандартизации и классификатора SVC**.

In [ ]:
# your code here

**Оцените качество модели**.

In [ ]:
# your code here

Подберите **оптимальное количество компонент для PCA** на `X_train`.

In [ ]:
# your code here

Повторите обучение и оценку качества **с добавлением в пайплайн метода снижения размерности**.

In [ ]:
# your code here

**Оцените качество модели**.

In [ ]:
# your code here

**Сделайте выводы**.

In [ ]:
# your conclusions here

### Задача 3. Случайный лес и кодирование биологических последовательностей

Сплайсинг $-$ происходящее в ходе процессинга РНК вырезание определённых нуклеотидных последовательностей (интронов) из молекул РНК и соединения оставшихся последовательностей, сохраняющихся в «зрелой» молекуле (экзонов).
Участвующие в процессе сплайсинга белки распознают границы интронов благодаря наличию в последовательности донорных (5') и акцепторных (3') сайтов.

Датасет представляет собой последовательности РНК длиной 60 нуклеотидов, размеченные на 3 класса: содержит донорный сайт, содержит акцепторный сайт, и не содержит таких сайтов.

In [ ]:
!if [ ! -f ./rna_seq.csv ]; then wget https://kodomo.fbb.msu.ru/FBB/year_20/ml/dtrees/rna_seq.csv; fi

--2021-10-17 18:00:15--  https://kodomo.fbb.msu.ru/FBB/year_20/ml/dtrees/rna_seq.csv
Resolving kodomo.fbb.msu.ru (kodomo.fbb.msu.ru)... 93.180.63.127
Connecting to kodomo.fbb.msu.ru (kodomo.fbb.msu.ru)|93.180.63.127|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388928 (380K) [text/csv]
Saving to: ‘rna_seq.csv’

rna_seq.csv         100%[===================>] 379.81K   440KB/s    in 0.9s

2021-10-17 18:01:06 (440 KB/s) - ‘rna_seq.csv’ saved [388928/388928]

Стоблец **class** содержит метки классов:
* 1: Донорный сайт
* 2: Акцепторный сайт
* 3: Не содержит сайтов сплайсинга

Столбцы **B0-B59** содержат последоватедовательности РНК, соотвествующие этим классам.

In [ ]:
 import numpy as np
 import pandas as pd
 pd.set_option('display.max_columns', 999)

 from sklearn.preprocessing import OneHotEncoder
 from sklearn.model_selection import train_test_split
 from sklearn.ensemble import RandomForestClassifier

In [ ]:
data = pd.read_csv("rna_seq.csv")
print(data.shape)
data.head()

(3186, 61)

,class,B0,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10,B11,B12,B13,B14,B15,B16,B17,B18,B19,B20,B21,B22,B23,B24,B25,B26,B27,B28,B29,B30,B31,B32,B33,B34,B35,B36,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46,B47,B48,B49,B50,B51,B52,B53,B54,B55,B56,B57,B58,B59
0,3,C,U,A,G,G,C,U,C,C,A,G,A,U,A,G,C,C,A,U,A,G,A,A,G,A,A,C,C,A,A,A,C,A,C,U,U,U,C,U,G,C,G,U,G,U,G,U,G,A,G,A,A,U,A,A,U,C,A,G,A
1,3,G,G,U,G,U,U,G,C,U,C,U,U,A,G,G,A,U,G,U,A,U,C,C,C,C,U,C,A,A,A,C,C,U,A,C,C,U,G,G,U,G,G,U,U,C,U,G,U,G,C,C,U,U,C,C,C,C,U,A,C
2,3,G,G,C,U,G,G,A,C,C,G,A,C,C,A,C,A,G,C,G,C,G,U,G,C,A,G,U,A,A,G,U,C,G,G,C,C,C,C,C,U,G,C,C,C,C,G,U,C,C,U,G,C,C,C,U,G,C,C,G,G
3,1,U,U,C,U,A,U,G,A,G,A,A,A,C,G,U,G,G,C,A,U,U,G,U,G,C,G,C,A,A,G,G,U,G,G,G,C,C,C,C,G,C,G,G,G,A,C,G,G,G,G,C,A,G,C,U,C,C,G,G,G
4,2,C,U,C,C,C,C,A,C,C,C,A,C,C,U,G,U,C,C,A,C,C,C,G,C,C,C,G,C,A,G,A,U,C,G,C,U,U,C,C,U,G,G,A,G,C,C,A,G,G,C,A,A,G,A,A,C,U,C,C,A

In [ ]:
data["class"].value_counts()

3    1654
1     767
2     765
Name: class, dtype: int64

Закодируйте последовательности по следующей схеме:

* A $\rightarrow$ 1 0 0
* C $\rightarrow$ 0 1 0
* G $\rightarrow$ 0 0 1
* U $\rightarrow$ 0 0 0

In [ ]:
y = data["class"]

enc = OneHotEncoder(handle_unknown='error', drop = 60*["U"]) # не заводим для U отдельный признак

X = pd.DataFrame(enc.fit_transform(data.drop("class", axis=1)).toarray()).astype(int)

На 2-3 объектах проверьте, что кодирование прошло успешно.
Дополните словарь и используйте его, чтобы закодировать признаки для этих объектов "вручную", затем сравните с полученным результатом.

In [ ]:
rna_dct = {
    "A": (1, 0, 0),
    # put your code here
}

In [ ]:
small_batch = data.drop("class", axis=1).head(3).values

np.all( np.array([ list(map(lambda y: rna_dct[y], x)) for x in small_batch ]).reshape(3,180) == X.# put your code here )

True

Создайте и обучите модель случайного леса на подготовленных данных.
Подберите оптимальные параметры *max_features* и *max_depth*.
Качество предсказания оцените при помощи *classification_report* и *matthews_corrcoef*.

In [ ]:
# Train-Test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=0)

In [ ]:
# put your code here

In [ ]:
y_pred = ???

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import matthews_corrcoef

In [ ]:
print(f"Matthews correlation coefficient: {matthews_corrcoef(y_test, y_pred):.4f}\n\n")


print(classification_report(y_test, y_pred))

### Задача 4. Предсказание растворимости веществ


Загрузим датасет [AqSolDB](https://www.nature.com/articles/s41597-019-0151-1), объединяющий информацию о растворимости химических веществ из разных источников.

In [ ]:
!wget  https://kodomo.fbb.msu.ru/FBB/year_20/ml/curated-solubility-dataset.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("curated-solubility-dataset.csv")

In [ ]:
data.head()

В качестве Y используйте колонку **Solubility**

В качестве X - все колонки после Solubility

Разбейте ваши данные на обучение и тест в отношении 8:2

Попробуйте на данной задаче и на основе только посчитанных авторами признаков (начинаются с MolWt), предсказать растворимость веществ при помощи:

1. Линейной регрессии

2. KNN-регрессии

3. SVM (понадобится SVR из пакета)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

Так как у второго и третьего алгоритма есть гиперпараметры, то сначала на трейне используйте GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV, train_test_split

In [ ]:
# пример из мануала для SVC- адаптируйте к вашей задаче
iris = datasets.load_iris()
parameters = {'kernel':('linear', 'rbf'), 'C':[0.01, 0.1, 1, 10]}
svc = svm.SVC()
clf = GridSearchCV(svc, parameters)
clf.fit(iris.data, iris.target)

Для SVR используйте те же параметры, что указаны в ячейке.
Для KNN - число соседей

Выберите лучший на кросс-валидации алгоритм

Проверьте финальную модель на тесте

Какие проблемы вы видите в случайном разбиении, примененном нами